<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.huansi.equipment.equipmentapp">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!--蓝牙功能的开启-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application
        android:allowBackup="true"

        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.IPConfigActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.LargerImageSHowActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize">


        </activity>
        <activity android:name=".activity.bom_data.BomActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.user_manage.UserActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.user_manage.UserAddActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.user_manage.RoleActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.user_manage.RoleAddActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.inventory.InventoryMainActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.inventory.InventoryDetailActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.DeviceSettingActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.repair.RepairListActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.repair.RepairDetailAddActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.repair.RepairMainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.repair.RepairDetailActivity"
        android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.LargeTextShowActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.logging_bill.LoggingBillActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.logging_bill.LoggingBillSearchActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.version_control.VersionControlMainActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.send_card.BindCardDetailActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.send_card.BindCardMainActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.MailActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.send_card.BindCardQueryEquipmentSubmitActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.PermissionsActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.send_card.BindMoreCardActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.inventory.InventoryAreaListActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.check_goods.CheckMainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.check_simple.CheckSimpleMainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.check_simple.CheckSimpleDepartmentActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.check_simple.CheckSimpleSizesActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.check_simple.CheckSimplePendingActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.make_bills.ShowPDFActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.make_bills.MeetingRecordsActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.make_bills.ChangePoActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.make_bills.PoTransformActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.make_bills.TransformPoListActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.make_bills.MeetingPdfActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.make_bills.ShowVideoActivity"
            android:launchMode="singleTask"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.awake_goods.AwakeMainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.awake_goods.AwakeTimeActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.call_repair.CallRepairInventoryActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.call_repair.CallRepairDetailActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.call_repair.CallRepairEvaluateActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.call_repair.CallRepairMainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.call_repair.CallRepairRecordsActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.move_cloth.ClothMoveMainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.make_bills.RiskControlActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.make_bills.ShowChartActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.move_cloth.ClothQueryRecordActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.move_cloth.ClothTakeActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.move_cloth.ClothRegisterActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.move_cloth.ClothPoActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.move_cloth.ClothWiFiRegisterActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.move_cloth.ClothStokeActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.merge_goods.ScannerActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.make_bills.MakeBillsMainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.make_bills.MakeBillsSecondActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.make_bills.WorkGuidanceActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.make_bills.MachineLayoutActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.make_bills.ShowUnSeePDFActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.make_bills.PDFViewerActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.make_bills.ShowYieldActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.block_material.BlockMaInActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.block_material.BlockQueryActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.block_material.BlockBindActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.block_material.BlockUnbindActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.check_quality.CutPiecesActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.check_quality.PackagingActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.check_quality.QualityMainActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.make_bills.UpdatePicActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name=".activity.check_simple.CheckSimpleSecondActivity" />
        <activity android:name=".activity.check_simple.CheckSimpleMonitorActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.store_goods.StoreGoodsMainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.store_goods.StoreGoodsInActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.store_goods.StoreGoodsMoveActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.store_goods.StoreGoodsQueryActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.cut_parts.CutPartsLoadActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.cut_parts.CutPartsMainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.cut_parts.CutPartsParkActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.cut_parts.CutPartsQueryActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.cut_parts.CutPartsTakeActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <service android:name=".service.AlwaysRunningService"
            android:enabled="true"
            android:exported="false"/>
        <!--<service android:name=".service.PushService"-->
            <!--android:enabled="true"-->
            <!--android:exported="false"/>-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="net.huansi.equipment.equipmentapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service android:name=".service.NikeBomService" >

        </service>

        <receiver android:name=".receiver.AlarmReceiver" >

        </receiver>
    </application>

</manifest>